<div class="container mt-4">
    <h2>Cheaper version of Google ads </h2>
  
    <!--<button class="btn btn-primary mb-3">Create New Campaign</button>-->

    <form id="createItemForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="campaignName" class="from-label">Campaign name</label>
        <input type="text" class="form-control" id="campaignName" name="campaignName" [(ngModel)]="newCampaign.name" required>
      </div>
      <div class="mb-3">
        <label for="keywords" class="from-label">Keywords</label>
        <input type="text" class="form-control" id="keywords" name="keywords" [(ngModel)]="newCampaign.keywords" required>
      </div>
      <!--<div class="mb-3">
        <label for="actions" class="from-label">Actions</label>
        <input type="text" class="form-control" id="actions" name="actions" [(ngModel)=newCampaign.actions] required>
      </div>-->
      <div class="mb-3">
        <label for="bidAmount" class="from-label">Bid amount</label>
        <input type="number" class="form-control" id="bidAmount" name="bidAmount" [(ngModel)]="newCampaign.bidAmount" required>
      </div>
      <div class="mb-3">
        <label for="campaignFund" class="from-label">Campaign fund</label>
        <input type="number" class="form-control" id="campaignFund" name="campaignFund" [(ngModel)]="newCampaign.campaignFund" required>
      </div>
      <div class="mb-3">
        <label for="status" class="from-label">Status</label>
        <input type="text" class="form-control" id="status" name="status" [(ngModel)]="newCampaign.status" required>
      </div>
      <div class="mb-3">
        <label for="town" class="from-label">Town</label>
        <input type="text" class="form-control" id="town" name="town" [(ngModel)]="newCampaign.town" required>
      </div>
      <div class="mb-3">
        <label for="radius" class="from-label">Radius</label>
        <input type="number" class="form-control" id="radius" name="radius" [(ngModel)]="newCampaign.radius" required>
      </div>
      <button type="submit" class="btn btn-primary">Save Campaign</button>
    </form>


  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Campaign name</th>
  
          <th scope="col">Keywords</th>
  
          <th scope="col">Actions</th>

          <th scope="col">Bid amount</th>

          <th scope="col">Campaign fund</th>
  
          <th scope="col">Status</th>
  
          <th scope="col">Town</th>

          <th scope="col">Radius</th>

        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td></td>
  
          <td></td>
  
          <td>
            <button class="btn btn-warning btn-sm mx-2 my-2">Edit</button>
  
            <button class="btn btn-danger btn-sm ml-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
